.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: brown;
}
.clock{
    display: flex;
    font-size: x-large;
    color: rgb(244, 248, 248);
    text-align: center;
}
.clock span {
    display: inline-block;
    padding: 90px;
    background-color: rgb(12, 12, 12);
    border-radius: 60px;
    margin: 30 60px;
}